 * { margin: 0; padding: 0; font-family: 'Poppins', sans-serif; box-sizing: border-box; }

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 1s ease-in-out; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b');
}

.card {
    width: 90%; max-width: 450px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    color: #fff; padding: 30px; border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center; 
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    transition: background 0.5s ease; 
}

.search { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }
.search input {
    border: 0; outline: 0; background: rgba(255,255,255,0.2);
    color: #fff; padding: 12px 20px; border-radius: 30px; flex: 1; margin-right: 10px;
}
.search button { border: 0; outline: 0; background: #fff; border-radius: 50%; width: 45px; height: 45px; cursor: pointer; }
#date-time { font-size: 14px; margin-bottom: 10px; opacity: 0.9; }
.weather-icon { width: 100px; margin: 10px 0; }
.temp { font-size: 70px; font-weight: 600; }
.city { font-size: 35px; margin-top: -5px; }
#weather-desc { text-transform: capitalize; margin-bottom: 20px; font-style: italic; opacity: 0.8; }
.details { display: flex; justify-content: space-between; padding: 0 10px; margin-top: 20px; }
.col { display: flex; align-items: center; text-align: left; }
.col img { width: 30px; margin-right: 10px; }
.aqi-container { margin-top: 25px; padding: 12px; background: rgba(0,0,0,0.3); border-radius: 15px; font-size: 14px; }
#aqi-val { font-weight: bold; color: #00ff88; }

